*{
	box-sizing: border-box;
}


body {
	background-image: url("https://images.unsplash.com/photo-1572972520964-3544ed51a6df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1946&q=80");
	background-size: cover;
	background-repeat: no-repeat;
}

.timeline-wrapper {
	display: flex;
	flex-direction: column;
}

.timeline-events {
	
	top: 50%;
	left: 50%;
	width: 25rem;
	padding: 2.5rem;
	/* box-sizing: border-box; */
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0.625rem;
	color: white;
}
/* -------------------------------------------- */

#linksUrl {
	width: 216px;
}

h2 {
	color: white;
}
#descriptionText {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

input.input-form {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

