body {
	background-image: "../public/beatles-login.jpg" !important;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
	color: #545454;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	/* do not repeat the image */
	background-repeat: no-repeat;
	/* Resize the background image to cover the entire container */
	background-size: cover;
}

.logIn-form{
    margin: 0 auto !important;
    float:none;
    padding-top:18%;
    width:280px;
    color:white;
}
    
:placeholder-shown {
	color: black;
}
 /* .transparente {
 background: rgba(255, 255, 255, 0.5);
} */
input.transparente {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.5) !important;
}
.logIn-form {
	margin: 0 auto !important;
	float: none;
	padding-top: 18%;
	width: 280px;
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-weight: 600;
	line-height: 1.3;
}
h2 {
	margin-top: 1.3em;
}
/* a {
    color: #0083e8;
} */
b,
strong {
	font-weight: 600;
}
/* samp {
    display: none;
} */
/* img {
    animation: colorize 2s cubic-bezier(0, 0, 0.78, 0.36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
} */
@keyframes colorize {
	0% {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	100% {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}
