@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	
}
.nav {
	height: 50px;
	width: 100%;
	position: relative;
	box-shadow: none;
	outline: none;
	/* border: none; */
	border-radius:5px;
	background-color: rgba(255, 255, 255, 0.3) !important;
	font-family:'Lobster', cursive;
	font-weight: 300;
	font-size: 1.2em;
	
	
}

/* links */
.nav-title a {
	display: inline-block;
	color: white;
	text-decoration:none;
	padding:15px 20px;	
}

/* div de los links */
.nav-title {
	margin-left:200px;
	margin-bottom:5px;
	
}
/* links */
.nav-title > .link {
	text-decoration:none;
	color:white;

}
.nav-title a:hover {
	background-color: rgba(0, 0, 0, 0.3);

}

.test{
	list-style: none;
}

.test li{
float:left;
}

.test li p {
	display:block;
    color:white; 
    padding:15px 20px;
}


/* .nav-links > .userName{
	color:white;
	text-align:center;
	float:right;
	padding:10px 20px;
	
	
	
}


.nav-brand{
	color:white;
	margin-left:40px;
	padding:15px 20px;

} */



