body {
	background-image: url("https://images.unsplash.com/photo-1572972520964-3544ed51a6df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1946&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.timeline-event-wrapper h1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	color: white;
	line-height: 3em;
}

.event-form {
	margin-left: 1.6em;
}

.item-list a {
	display: list-item;
	text-align: center;
	text-decoration: none;
	color: white !important;
	list-style: none;
}
.listTitles {
	padding-top: 10px;
}

.timeline-form {
	width: 40%;
	color: white;
	margin: 0 auto !important;
	float: none !important;
	padding-top: 2%;
	/* ------------------------ */
	/* Box */
	/* display: flex; */
	/* flex-direction: column; */
	/* position: absolute; */
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	width: 25rem;
	padding: 2.5rem;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0.625rem;
	color: white;
}

.btn-event {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 200px;
}

/* -------------------------------------------- */
h1 {
	display: flex;
	flex-direction: column;
	text-align: center;
	line-height: 5em;
	padding: 0px 20px 0px 20px;
}
#linksUrl {
	width: 500px;
}

h2 {
	color: white;
	text-align: center;
	margin: 1.5rem;
}

input .input-form {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.5) !important;
}
label {
	color: white;
}

/* .timeline-events .input-form label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
} */

* {
	margin: 0;
	padding: 0;
	/* line-height: 0; */
}
