body {
	background-image: url("https://images.unsplash.com/photo-1572972520964-3544ed51a6df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1946&q=80");
	background-size: cover;
	background-repeat: no-repeat;
}

.timeline-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 80px;
}

.listTitles {
	padding-top: 10px;
}

.timeline-wrapper .timeline-list a {
	color: white !important;
	display: list-item;
}

.timeline-form {
	width: 40%;
	color: white;
	margin-top: 100px !important;
	margin-bottom: 100px;
	float: none !important;
	padding-top: 2%;
	padding-bottom: 50px;
	/* ------------------------ */
	/* Box */
	/* display: flex; */
	/* flex-direction: column; */
	/* position: absolute; */
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	width: 25rem;
	padding: 2.5rem;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0.625rem;
	color: white;
}
/* -------------------------------------------- */

#linksUrl {
	width: 216px;
}

h2 {
	color: white;
}
#descriptionText {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

input .input-form {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

/* .timeline-events .input-form label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
} */
