*{
	box-sizing: border-box;
}

.timeline_header{
    width:100%;
    text-align:center;
    margin-bottom: 80px;
    position:relative;
}

.timeline-header-title{
    color:white;
    font-size:46px;
    font-family:Cardo;
    font-weight: normal;
}

.timeline-header-subtitle{
    color:rgba(255, 255, 255, 0.5);
    font-family:"Pathway Gothic One",sans-serif;
    font-size:16px;
    letter-spacing: 5px;
    margin:10px 0 0 0;
    font-weight: normal;
    
}

.timeline.content{
    color:white;
}